.*
*.lock
*.log
*.pid
*.retry
*.tar
*.gz
*.out
*.tgz
*.zip
*.key
*.pem
*.prof
*.pprof
*.profile
bin/
dist/
vendor/
tmp/

## GitHub
!.github/

## Editorconfig
!.editorconfig

## Git
!.gitkeep
!.gitignore
!.gitattributes

## Lefthook
!.lefthook.yaml

## Mise
!.mise.toml

## TypeScript
*.tsbuildinfo

### Golang
/go.work
/go.work.sum
!.golangci.yaml
!.goreleaser.yaml

## Node
**/node_modules/

## Vitepress
!docs/.vitepress
docs/.vitepress/*
!docs/.vitepress/theme/
!docs/.vitepress/config.mts
